
.background{
    background-image: url('../src/assets/pexels-photo-3136673.jpeg');
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.text-content{
    margin: 12.5% auto;
    display: flex;
    width: 80%;
    text-align: center;
}